<mat-card>
  <div class="content-wrapper">
    <h2>Contributor Info Card</h2>
    <div class="separator-line"></div>
    <span class="count">{{currentIndex + 1}} /{{contributorsLength}}</span>
    <div class="image-wrapper">
      <img [src]="userInfo.avatarUrl? userInfo.avatarUrl : defaultImgUrl" alt="User Profile Avatar">
    </div>
    <div class="contact-wrapper">
      <p class="contact-field">{{userInfo.name}}</p>
      <div class="separator"> | </div>
      <p class="contact-field">{{userInfo.company ? userInfo.company : 'NA'}}</p>
    </div>
    <p class="location">{{userInfo.location ? userInfo.location : 'NA'}}</p>
    <div class="action-wrapper">
      <mat-icon color="primary">email</mat-icon>
      <a [href]="'mailto:' + userInfo.email" class="action-text">Email contact</a>
    </div>
    <div class="repository-wrapper">
        <a class="single-repo-wrapper" *ngFor="let repo of userInfo.repositories.slice(0,3); let i = index"
           [href]="repo.url" target="_blank">
          {{i + 1}} - {{repo.name}}
          <mat-icon>arrow_forward</mat-icon>
        </a>

    </div>
  </div>
</mat-card>

