# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/package-lock.json
# Only exists if Bazel was run
/bazel-out

# dependencies
frontend/node_modules
frontend/src/environments/environment.prod.ts
frontend/src/environments/environment.ts

# profiling files
chrome-profiler-events*.json

# IDEs and editors
frontend/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.idea/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
