<div class="welcome-wrapper">
  <div class="main-content-wrapper">
    <h1 class="overview-header">Welcome to the Github Repository Project</h1>
    <p class="main-info-text">This project aims to mimic a basic interaction with an interactive data fetching service. <a
      href="https://www.google.com/basepages/producttype/taxonomy.en-US.txt"
      class="inline-link">Github
    </a> provides one of the largest project interaction systems of the world. It hosts
                              numerous widely used repositories which we will explore in this simple application.
                              The main purpose of the project is tos illustrate the benefits but also the limitations of
    the open data API and how to potentially overcome them for your own project. Have fun!</p>
    <div class="icon-wrapper">
      <a href="https://github.com/marcluettecke/githubRepos/develop" target="_blank" class="social-media-icon">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/marc-luettecke/" target="_blank">
        <fa-icon [icon]="faLinkedIn" class="social-media-icon"></fa-icon>
      </a>
      <a href="../github_repo_scraper_presentation_ML.pptx" download class="social-media-icon">
        <fa-icon [icon]="faFilePowerpoint"></fa-icon>
      </a>
    </div>
  </div>
</div>
