.filter-input {
  width: 100%;
  margin-top: 100px;
}

table {
  width: 100%;
  text-align: center;

  th, td {
    width: auto;
  }

  .mat-row {
    height: 100px
  }

  .mat-column-avatarUrl {
    flex: none;
    width: 10%;
  }

  .mat-column-name {
    flex: none;
    width: 30%;
    text-align: center;
    hyphens: auto;
  }

  .mat-column-createdAt,
  .mat-column-updatedAt {
    padding: 0 20px;
  }

  .mat-column-description {
    flex: none;
    min-width: 25%;
    text-align: left;
    padding: 0 20px;

    .description-wrapper {

      .description-text {
        text-align: left;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin: 0;
      }
    }
  }


  .mat-column-homepageUrl {
    flex: none;
    width: 15%;
    text-align: center;
  }


  .table-header {
    text-align: center;
    font-weight: bold;
  }

  .image-cell {
    width: 65px;
    margin: 0 auto;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .icon {
    &:hover {
      cursor: pointer;
      color: var(--accent);
    }
  }
}
